[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
pyyaml = "*"
yfinance = "*"
pandas = ">=0.23.1"
numpy = ">=1.11.1"
requests = ">=2.14.2"
lxml = ">=4.5.1"
cython = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start = "python -m bot"
build = "docker build -t ghcr.io/villheik/Rankaisijabot:latest -f Dockerfile ."